<center>
  <h1>Welcome to MovieTrackr</h1>
  <% if signed_in? %>
    <h2>Hello, <%= current_user.username %>!</h2>
  <% end %>
  <br />
  <br />

<% if @movies.empty? %>
  Geen films in database
<% else %>

  <table class="table table-striped">

    <tr class="info">
      <th>
          <%= link_to "Id", movies_path(:sorteer => @id) %>
      </th>
      <th>
          <%= link_to "Title", movies_path(:sorteer => @title) %>
      </th>
      <th>
          <%= link_to "Rating", movies_path(:sorteer => @rating) %>
      </th>
      <th>
          <%= link_to "Added by", movies_path(:sorteer => @username) %>
      </th>

      <% if signed_in? && current_user.admin? %>

        <th>Actions</th>

      <% end %>

    </tr>

    <% @movies.each do |film| %>

    <tr>
      <td><%= film.id %></td>
      
      <td>

      <%= link_to film.title, film.imdb %>

      </td>  
      

      <td><%= film.rating %></td>
      <td><%= film.user.username %></td>      

      <% if signed_in? && current_user.admin? %>

        <td>
        <div class="form-inline"> 
          
          <div style="float:left;">
            <%= button_to "Edit", edit_movie_path(film), :class => "btn btn-warning" %>
          </div>
          <div style="float:right;">
            <%= button_to "Delete", film, method: :delete, :class => "btn btn-danger", :confirm=>'Are you sure?' %>          
          </div>

        </div>
        </td>
      
      <% end %>     
    </tr>

    <% end %>

  </table>

<% end %>
<br /> <br />
<%= debug(params) if Rails.env.development? %>

</center>