<div class = "testbox">
<center>

	<h1>Add a movie</h1>
	<%= form_for @movie do |f| %>
	  	<%= f.text_field :title, :placeholder => "Title" %> <br /><br />

	  	<%= f.text_field :rating, :placeholder => "Rating out of 10" %> <br /><br />

	  	<%= f.label :Visited_at %><br />
	  	<%= f.date_select(:saw_movie_at, order: [:day, :month, :year]) %> <br /><br />

	  <%= f.submit "Create" %>
	<% end %>

</center>
</div>