<center>

	<h1>Welcome to MovieTrackr</h1>
	<% if signed_in? %>
	  <h2>Hello, <%= current_user.username %>!</h2>
	<% end %>
	<br />
	<br />

<% if @movies.empty? %>
	Geen films in database
<% else %>

	<table>

		<tr>
			<th>ID</th>
			<th>Title</th>
			<th>Rating</th>
			<th>Actions</th>
		</tr>

		<% @movies.each do |film| %>

			<tr>
				<td><%= film.id %></td>
				<td><%= film.title %></td>	
				<td><%= film.rating %></td>
				<td>
					<%= link_to "delete", film, method: :delete %> -
					<%= link_to "edit", edit_movie_path(film) %>
				</td>						
			</tr>

		<% end %>

	</table>

<% end %>
</center>