<center>
<h2>Search results for '<%= params[:title] %>'</h2>

<table class="table table-striped">

	<tr class="info">
	      <th>
	        Poster
	      </th>
	      <th>
	      	Title
	      </th>
	      <th>
	      	Url
	      <th>
	          Action
	      </th>
	</tr>

	<% @result.each do |movie| %>

	<tr>
		<td>
		<%= image_tag(movie.posters.thumbnail) %>
		</td>
		<td>
		<%= movie.name %>
		</td>
		<td>
		<%= link_to "RottenTomatoes", movie.links['alternate'], :target => "_blank" %>
		</td>
		<td>
		<%= link_to "Add link", movies_path(:url => movie.links['alternate'], :id => params[:id], :title => movie.name) %>
		</td>
	</tr>

	<% end %>

</table>



<%= debug(params) if Rails.env.development? %>	