    <%= form_for(setup_context(@context)) do |f| %>

      Changing log-in context for <%= @user.username %><br /><br />

      <%= f.hidden_field :user_id, value: @user.id %>


      <% if params[:time] %>        

        <% if params[:time] < @user.context.starting_time %>        
        
        <%= f.label :starting_time, "Starting Time HH:MM:SS" %>
        <%= f.text_field :starting_time, class: 'form-control', :value => params[:time], :pattern => '([01]?[0-9]|2[0-3]):[0-5][0-9]' %>
        <%= f.label :ending_time, "Ending Time HH:MM:SS" %>
        <%= f.text_field :ending_time, class: 'form-control', :pattern => '([01]?[0-9]|2[0-3]):[0-5][0-9]' %>

        <% elsif params[:time] > @user.context.ending_time %>

        <%= f.label :starting_time, "Starting Time HH:MM:SS" %>
        <%= f.text_field :starting_time, class: 'form-control', :pattern => '([01]?[0-9]|2[0-3]):[0-5][0-9]' %>
        <%= f.label :ending_time, "Ending Time HH:MM:SS" %>
        <%= f.text_field :ending_time, class: 'form-control', :value => params[:time], :pattern => '([01]?[0-9]|2[0-3]):[0-5][0-9]' %>

        <% end %>


      <% else %>

        <%= f.label :starting_time, "Starting Time HH:MM:SS" %>
        <%= f.text_field :starting_time, class: 'form-control', :pattern => '([01]?[0-9]|2[0-3]):[0-5][0-9]' %>

        <%= f.label :ending_time, "Ending Time HH:MM:SS" %>
        <%= f.text_field :ending_time, class: 'form-control', :pattern => '([01]?[0-9]|2[0-3]):[0-5][0-9]' %>

      <% end %>

      <br />

      <%= f.fields_for :locations do |ff| %>
        <div>
	      	<%= ff.label :location %>
          <% if (@loc_size == ff.index) %>
            <%= ff.text_field :location, :value => params[:location] %>
          <% else %>
            <%= ff.text_field :location %>
          <% end %>
	      	
          <% if ff.object.persisted? %>
      			<%= ff.check_box :_destroy %>
      			<%= ff.label :_destroy, "Delete" %>
          <% end %>
	   	  </div>
      <% end %>

      <br />

      <%= f.fields_for :ip_addresses do |ff| %>
	      <div>
	      	<%= ff.label :ip_address %>
          
          <% if (@ip_size == ff.index) %>
	      	  <%= ff.text_field :ip_address, :value => params[:ip] %>
          <% else %>
            <%= ff.text_field :ip_address %>
          <% end %>

	      	<% if ff.object.persisted? %>
      			<%= ff.check_box :_destroy %>
      			<%= ff.label :_destroy, "Delete" %>
    		<% end %>
	   	  </div>
      <% end %>     

      <br />
      
      <% if params[:location] %>
        <%= hidden_field_tag 'suggested', params[:location] %>
      <% elsif params[:ip] %>
        <%= hidden_field_tag 'suggested', params[:ip] %>
      <% elsif params[:time] %>
        <%= hidden_field_tag 'suggested', params[:time] %>
      <% end %>

      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>
<%= debug(params) if Rails.env.development? %>



